@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown {
  z-index: 60;
  @apply absolute items-center max-h-60 text-center justify-between min-w-full w-auto p-2 font-medium text-gray-600 dark:text-gray-400
}

.basic-text {
  @apply text-white font-medium text-lg
}

.unordered-list {
  @apply w-full bg-white border rounded-md border-gray-400 py-2 text-sm text-gray-700 dark:text-gray-200 overflow-y-scroll mt-3
}

.list-item {
  @apply w-full text-gray-500 block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white
}

.table {
  @apply divide-y-2
}

.data-cell {
  @apply w-full font-medium px-2 py-1 min-h-10 max-h-10 text-ellipsis whitespace-nowrap cursor-pointer
}

.data-cell.selected {
  @apply bg-blue-400
}

.data-row {
  @apply p-3 w-full
}

.icon-s {
  @apply max-h-5 max-w-5
}

.filter-category-container {
  @apply px-3 py-2 font-medium min-h-10 max-h-10 min-w-max gap-x-2 flex flex-row items-center relative rounded-lg border-2 border-gray-400 my-2
}