@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown {
  z-index: 60;
  @apply absolute items-center max-h-60 text-center justify-between w-full p-2 text-xl font-medium text-gray-600 dark:text-gray-400
}

.basic-text {
  @apply text-white font-medium text-lg
}

.unordered-list {
  @apply w-full bg-white border rounded-md border-gray-400 py-2 text-sm text-gray-700 dark:text-gray-200 overflow-y-scroll mt-3
}

.list-item {
  @apply w-full text-gray-500 block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white
}